.importCsv {
  border: none;
  background: #3f51b5;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-top: 0.6em;
}

.importCsv:hover {
  background: #303f9f;
}
